apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: lab35-viewer-role
  namespace: lab35-rbac
rules:
  - apiGroups: [""]
    resources: ["pods", "services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets"]
    verbs: ["get", "list", "watch"]
