# виртуальные окружения и любые директории в любом месте проекта
**/.terraform/
**/grafana-data/
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/venv/
**/env/

# файлы
*.py[cod]
*.pyc
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*