# Директории
**/.pytest_cache/
**/.terraform/
**/.venv/
**/__pycache__/
**/env/
**/evidence/
**/grafana-data/
**/tmp/
**/venv/

# Python
*.py[cod]

# Terraform state и lock
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Terraform variables
*.auto.tfvars
backend.hcl
terraform.tfvars

# Terraform plan files
*.tfplan
plan.txt
tfplan
tfplan.txt
tfplan.json