apiVersion: 1

contactPoints:
  - orgId: 1
    name: lab-default
    receivers:
      - uid: cp_email
        type: email
        settings:
          addresses: "ysukata@gmail.com"
          singleEmail: false

policies:
  - orgId: 1
    receiver: lab-default
    group_by: ["alertname","instance","service","severity"]
    routes: []

groups:
  - orgId: 1
    name: lab-rules
    folder: "Lab Alerts"
    interval: "1m"
    rules:
      - uid: rule_node_down
        title: NodeDown (Grafana)
        condition: A
        data:
          - refId: A
            relativeTimeRange: {from: 300, to: 0}
            datasourceUid: ds_prom
            model:
              editorMode: code
              expr: "up{job=\"node\"} == 0"
              instant: true
              intervalMs: 1000
              legendFormat: ""
              maxDataPoints: 43200
        annotations:
          summary: "Node exporter down"
        labels:
          severity: warning
        for: "1m"
        isPaused: false

      - uid: rule_http_probe_failed
        title: HTTP Probe Failed (Grafana)
        condition: A
        data:
          - refId: A
            relativeTimeRange: {from: 120, to: 0}
            datasourceUid: ds_prom
            model:
              editorMode: code
              expr: "probe_success{job=\"blackbox_http\"} == 0"
              instant: true
        annotations:
          summary: "HTTP probe failed"
        labels:
          severity: critical
        for: "30s"
        isPaused: false
