server {
    listen {{ http_port }};
    server_name _;

    location {{ health_path }} {
        default_type text/plain;
        return 200 "OK\n";
    }

    location / {
        proxy_pass http://{{ nginx_backend_host }}:{{ nginx_backend_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    access_log {{ access_log_json }} json if=$request_method;
    error_log  /var/log/nginx/error.log;
}
