apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: APP_NAMESPACE
resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
