apiVersion: v1
kind: PersistentVolume
metadata:
  name: APP_NAME-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    path: /mnt/data/APP_NAME
