services:
  loki:
    image: grafana/loki:2.9.8
    container_name: lab20-loki
    command: -config.file=/etc/loki/loki-config.yml
    volumes:
      - ./loki-config.yml:/etc/loki/loki-config.yml:ro
      - lokidata:/loki
    ports:
      - "127.0.0.1:3100:3100"     # http://loki:3100
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.8
    container_name: lab20-promtail
    command: -config.file=/etc/promtail/promtail-config.yml
    volumes:
      - ./promtail-config.yml:/etc/promtail/promtail-config.yml:ro
      - /var/log/nginx:/var/log/nginx:ro
      - /var/log/auth.log:/hostlog/auth.log:ro
      - ./positions:/positions
      - /var/log:/hostlog:ro
    depends_on:
      - loki
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:latest
    container_name: lab20-grafana
    environment:
      - GF_SERVER_HTTP_ADDR=0.0.0.0
      - GF_SERVER_HTTP_PORT=3000
      - GF_SERVER_ROOT_URL=http://localhost:3000
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafdata:/var/lib/grafana
    depends_on:
      - loki
    restart: unless-stopped

volumes:
  grafdata:
  lokidata:
