services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=ec2,sts,iam
      - DEBUG=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
