[Unit]
Description=Hello logger (hardened)

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hello.sh
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes
